{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Check Contact Tracing{% endblock %}</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
        <p>
            <label for="title">QID to Search</label>
            <input type="text" name="qid"
                   placeholder="QID">
            </input>
        </p>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>        

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}